body{
    background-image: linear-gradient(to bottom, #FF136F 0%, #ff3884 30%, #e44a85 65%,#ff75ac 100%);
}
.container{
    margin-top: 100px;
}
.bg-color-overwrite{
    margin-top: 25px;
    background-color: #fceae8;
    box-shadow: 0px 2px 10px black;
}
.mg-top-none{
    margin-top: 0px;
}    
.orange-bg{
    background-color: #fceae8;
    border-radius: 20px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat-1{
    background-image: linear-gradient(to bottom, #6b6bff,  blue);
}

.cat-2{
    background-image: linear-gradient(to bottom, goldenrod, #ffd119f1);
}
.cat-3{
    background-image: linear-gradient(to bottom, #27b427, green);
}
.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #75455d;
    color: white;
}
.catergories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px #75455d;
    border-radius: 15px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h3{
    color: #FF136F;
}
#subscribe h6{
    color: grey;
}
footer{
    margin-top: 100px;
    text-align: center;
    border-bottom: 0;
}
button{
    transition: 0.3s;
}
button:hover{
    transform: scale(0.9);
}
img{
    transition: 0.3s;
}
img:hover{
    transform: scale(1.2);
}
