.container{
    margin-bottom: 100px;
}    
.orange-bg{
    background-color: #fceae8;
    border-radius: 20px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat-1{
    background-color: #FF9C35;
}
.cat-2{
    background-color: #FF589B;
}
.cat-3{
    background-color: #ffd119f1;
}
.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 15px;
}
.catergories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 15px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: grey;
}
footer{
    text-align: center;
    border-bottom: 0;
}
button{
    transition: 0.3s;
}
button:hover{
    transform: scale(1.2);
}
img{
    transition: 0.3s;
}
img:hover{
    transform: scale(1.2);
}
.bg-color-overwrite{
    margin-top: 25px;
    background-color: #fceae8;
    border-radius: 15px;
}